<h2>Single User Twitter</h2>

<%= form_for @tweet do |f| %>
<div>
    <%= f.label :content %>
    <%= f.text_field :content %>
</div>
<% end %>

<% @tweets.each do |tweet| %>
  <section>
    <div>
      <%= tweet.content %>
    </div>
  </section>
<% end %>